# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Temporary files
temp.pdf
*.log

# Streamlit cache
.streamlit/

# IDE / Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db